.isNegative {
    background-color:crimson;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid black 5px;
    padding: 5px;
}

.isPositive {
    background-color: blue;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid black 5px;
    padding: 5px;
}

.isHouse {
    background-color: green;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid black 5px;
    padding: 5px;
}

.isSpecial {
    background-color: gold;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid black 5px;
    padding: 5px;
}

.botHand {
    background-color: grey;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid black 5px;
    padding: 5px;
}
